:root {
    --bg-color: #0a0a0a;
    --text-color: #0f0; 
    --accent-color: #008f11;
    --white: #e0e0e0;
    --font-main: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--white);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
}

a { text-decoration: none; color: var(--text-color); transition: 0.3s; }
a:hover { text-shadow: 0 0 10px var(--text-color); }

/* ========================= NAV ========================= */
nav {
    background-color: rgba(10, 10, 10, 0.8);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 1px solid var(--accent-color);
    z-index: 999;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    letter-spacing: 2px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-direction: row-reverse;
}

/* ================== زر القائمة ================== */
.menu-btn {
    display: none;
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
}

/* ================== القائمة للجوال ================== */
@media(max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background: rgba(10, 10, 10, 0.95);
        padding-top: 120px;
        transition: 0.4s ease;
        border-left: 1px solid var(--accent-color);
        backdrop-filter: blur(10px);
        z-index: 999;
    }

    .nav-links ul {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        font-size: 20px;
    }

    .nav-links.active {
        right: 0;
    }
}

/* ========================= HERO ========================= */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.glitch-text {
    font-size: 3rem;
    color: var(--text-color);
    text-shadow: 2px 2px var(--accent-color);
    margin-bottom: 10px;
}

.typing-container {
    font-size: 1.2rem;
    border-right: 2px solid var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.75s step-end infinite;
    direction: ltr;
}

/* =============== Skills =============== */
.section-title {
    text-align: center;
    margin: 50px 0 30px;
    color: var(--text-color);
    font-size: 2rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 10%;
    margin-bottom: 50px;
}

.skill-card {
    background: #111;
    border: 1px solid var(--accent-color);
    padding: 20px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--accent-color);
}

.skill-card h3 {
    color: var(--text-color);
    margin-bottom: 10px;
    border-bottom: 1px dashed var(--white);
    padding-bottom: 5px;
    text-align: center;
}

.skill-card ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

/* =============== About Me =============== */
.about {
    padding: 50px 10%;
    background-color: #0f0f0f;
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

/* =============== Contact =============== */
#contact h2{
    text-align: center;
    color: var(--text-color);
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
}

hr{
    width: 100%;
    height: 0.5px;
    margin: 5px auto 0;
    color: #008f11;
}

#contact{
    background-color: var(--bg-color);
    padding: 4rem 0;
}

#contact .row{
    display: flex;
    justify-content: center;
}

#contact .row input,
#contact .row textarea,
.btn-primary{
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    text-align: center;
    justify-content: center;
}

#contact .row .btn-primary{
    cursor: pointer;
}

.btn-primary:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--accent-color);
}

/* =============== Footer =============== */
footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--accent-color);
    font-size: 0.9rem;
    color: #777;
}

/* Animation */
@keyframes blink {
    50% { border-color: transparent; }
}
